*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background-color: #d7ccc8;
}
.container{
    max-width: 960px;
    padding:0 2%;
    margin:0 auto;
}
section.formulario{
    padding:90px 0;
    
}
.form-group span{
    color:red;
    display:inline-block;
    padding: 4px 0;
}
.form-group input[type=text]{
    width:100%;
    height: 40px;
    border:1px solid #ccc;
    padding-left: 10px;
    margin-bottom: 10px;
    outline:0;
}
.form-group textarea{
    width:100%;
    height: 120px;
    border:1px solid #ccc;
    resize:none;
    outline:0;
    padding:10px;
}
.form-group input[type=submit]{
    width:100px;
    height: 40px;
    cursor:pointer;
    border:0;
    background-color: #a1887f;
    color:white;
    margin-top: 10px;
}
.box-sucesso{
    display: none;
    padding:10px;
    width:100%;
    text-align: center;
    background-color: #bdbdbd;
    margin-top: 10px;
}